### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Ignore IDE configuration files
.idea/

# Ignore Maven wrapper files and folders
.mvn/
mvnw
mvnw.cmd

# Ignore specific file path (use forward slashes)
E:/Java/JavaRushCourse/CaesarWithGui/target/CaesarWithGui-1.0-SNAPSHOT.zip

# Alternatively, if the path above is within your project structure, you can use a relative path:
target/CaesarWithGui-1.0-SNAPSHOT.zip

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store